.nav {
    display: flex;
    justify-content: flex-start;
    padding: 2em;
    font-weight: bold;
    gap: 1.5em;
}
.header {
    font-size: 43px;
}
a {
    text-decoration: none;
    color: black;
}
span {
    background-color: aqua;
    padding: 0.5em;
    font-size: 43px;
    border-radius: 0.3em;
    font-weight: 400;
}
.T {
    font-size: 26px;
}
.aboutsection {
    background-image: url('image/about.jpg');
    height: 100vh;
    padding: 4em 8em;
}